<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>Unreachable Tiles</title>
  <link href="/bootstrap/v5.3.3/bootstrap.min.css" rel="stylesheet" />
  <link href="/mapbox-gl-js/v3.7.0/mapbox-gl.css" rel="stylesheet" />
  <script src="mapbox-gl-js/v3.7.0/mapbox-gl.js"></script>
</head>

<body>
  <script src="/bootstrap/v5.3.3/bootstrap.bundle.min.js"></script>
  {{{body}}}
</body>

</html>